extends layout

block content
  
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js')
  #editor-input
  .level.is-invisible
  .columns
    .column.is-6
      form(name='1stform' action=root+'css-to-sass' method='post')
        textarea.is-invisible(name='dataInput')
        .buttons.has-addons.is-pulled-left
          input#submit.button.is-warning.is-inverted(type='submit' value='Convert')
    .column.is-6
      if dataOutput
        .buttons.has-addons.is-pulled-right
          button#clipboard.button.is-warning.is-inverted(onclick="copyText()") Copy it to clipboard
  .level.is-invisible
  #editor-output
  
  script(src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ace.js')
  script.
    const editorInput = ace.edit("editor-input");
    editorInput.setTheme("ace/theme/monokai");
    editorInput.setShowPrintMargin(false);
    editorInput.getSession().setMode("ace/mode/css");
    editorInput.setOptions({
      maxLines: Infinity,
      minLines: 32
      });
    
    var textarea = $('textarea[name="dataInput"]');
    editorInput.getSession().on("change", function () {
    textarea.val(editorInput.getSession().getValue());
    });
    
  if dataOutput
    script.
      const editorOutput = ace.edit("editor-output");
      editorOutput.setTheme("ace/theme/monokai");
      editorOutput.setShowPrintMargin(false);
      editorOutput.getSession().setMode("ace/mode/sass");
      editorOutput.$blockScrolling = Infinity;
      editorOutput.setValue("#{dataOutput}", 1);
      editorOutput.setReadOnly(true);
      editorOutput.setOptions({
      maxLines: Infinity,
      minLines: 1
      });
      
      function copyText() {
      document.getElementById('clipboard').innerHTML="Copied!";
      editorOutput.selectAll();
      editorOutput.focus();
      document.execCommand("copy");
      }

