doctype html

include header

body
  .container.is-desktop.box.notification.is-dark
    .title
      a(href=root)
        h2 FavKit.com
    h3 A favorite toolkit I would like to share with you guys
  
  include client-info
  
  .container.box.has-background-grey-darker
    .tile.is-ancestor
      .tile.is-2.is-vertical.is-parent
        .title.is-child
      .tile.is-8.is-vertical.is-parent
        .title.is-child.box.has-background-grey-lighter
          h1.title= tool_name
          .subtitle
            p= tool_des
          .subtitle
            block content
      .tile.is-2.is-vertical.is-parent
        .title.is-child

include footer