extends layout

block content
    form(name='1stform' action=root+'port-check' method='post')
      .columns
        .column.is-5
          label.label(for='') Host name / IP address:
          input#address.input.is-success(name='address' onkeyup='getVal()' type='text' placeholder='Host name / IP address' autofocus='')
        .column.is-5
          label.label(for='') Port:
          input#port.input.is-success(name='port' onkeyup='getVal()' type='number' placeholder='Port')
        .column.is-2
          label.label.is-invisible(for='') Submit
          input.button.is-warning.is-inverted.is-pulled-right(type='submit' value='Check')
    .section
    #result.notification.is-dark.has-text-centered
        if error != null
            span.has-text-danger The form must be filled out!
        if input != null
            span #{input.address}:#{input.port||80} Port is 
                if stt
                    span.has-text-success Open
                else
                    span.has-text-danger Closed
        